.vscode/

__pycache__/
.pytest_cache
*.py[cod]
*.pyc

*.log
*.tmp

.venv
venv/
env/
.env

**/db.sqlite3
*.sqlite3
.mypy_cache

# Test coverage
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover

*.class
*.exe
*.dll
